@page "/company/employeelist"
@using WebUI.Models

<PageTitle>Employees</PageTitle>

<h4>Employee List</h4>

@if (altcolor)
{
    <style>
    :root {
        --datagrid-hover-color: lightyellow;
    }
</style>
}

<ErrorBoundary>
    <ChildContent>
        @if (_employeeItemProvider == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="grid" style="height: 450px; width: 100%; overflow:auto;" tabindex="-1">
                <FluentDataGrid ItemsProvider="@_employeeItemProvider" GenerateHeader="GenerateHeaderOption.Sticky"
                    Pagination="@pagination" TGridItem=EmployeeListItemViewModel ShowHover="true">
                    <PropertyColumn Title="Id" Property="@(c => c!.BusinessEntityID)" Sortable="true" Align="Align.Start" />
                    <PropertyColumn Title="First Name" Property="@(c => c!.FirstName)" Sortable="false"
                        Align="Align.Center" />
                    <PropertyColumn Title="M.I." Property="@(c => c!.MiddleName)" Sortable="false" Align="Align.Center" />
                    <PropertyColumn Title="Last Name" Property="@(c => c!.LastName)" Sortable="false" Align="Align.End">
                        <ColumnOptions>
                            <div class="search-box">
                                <FluentSearch @bind-Value=lastNameFilter @oninput="OnLastNameFilterChanged"
                                    @bind-Value:after=OnLastNameFilterClear Placeholder="Last name..." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn>
                </FluentDataGrid>
            </div>

            <FluentPaginator State="@pagination" CurrentPageIndexChanged="@GoToPageAsync">
                <SummaryTemplate>
                    There are <strong>@(pagination.TotalItemCount ?? 0)</strong> rows
                </SummaryTemplate>
                <PaginationTextTemplate>
                    This is page <strong>@(pagination.CurrentPageIndex + 1)</strong> out of a total of
                    <strong>@(pagination.LastPageIndex + 1)</strong> pages
                </PaginationTextTemplate>
            </FluentPaginator>
        }
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="blazor-error-boundary">@ex.Message</div>
    </ErrorContent>
</ErrorBoundary>